* {
  text-align: center;
}

nav {
  background-color: black;
  color: white;
}

#placeholdernav {
  float: left;
}

#hero-image {
  padding-top: 30px;
}

#sub-banner {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* #featured-section-banner {
  float: left;
} */

#featured-section-text {
  display: inline-block;
  border-style: hidden;
  width: 375px;
  height: 375px;
  padding-top: 0px;
  margin-top: 0px;

  
}

footer {
  background-color: black;
  color: white;
  /* height: 100px; */
  padding-top: 50px;
  padding-bottom: 50px;
}